/* SLIDE */
    .slider-wrapper {
        position: relative;
    }
    .slider-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 90px;
        left: 0;
        overflow: hidden;
    }
    .slider-container .sl {
        position: absolute;
        top:0;
        left:0;
        margin: 0px;
        padding: 0px;
    }
    .slider-container .sl > li{
        float:left;
        display:block;
        width: 100%;
    }
    .slider-container .slider-navigator {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1000;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .slider-container .slider-navigator li{
        display: block;
        width: 30%;
        cursor: pointer;
        z-index: 1000;
    }
    .slider-container .slider-navigator li.prev {
        float:left;
        margin-left: 2%;
    }

    .slider-container .slider-navigator li.hide {
    	opacity: 0;
    }

    .slider-container .slider-navigator li.next {
        float:right;
        text-align: right;
        margin-right: 2%;
    }

    .slider-container .sl > li.slide .slide-content {
    	width: 80%;
    	margin: 0 auto;
    }

/* END SLIDE */