html, body {
	overflow: hidden;
}
body {
    background: #827fb2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}
.ubuntu {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-stroke: 0.3px;	
}

.ubuntu-mono {
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-stroke: 0.3px;	
}
.courier {
	font-family: "Courier New", Courier, monospace;
}
.no-stroke {
		-webkit-text-stroke: 0.0px;	
}



section {
	position: relative;
	padding-top: 25px;
	overflow:hidden;
}

h2.section-title {
	display: none;
}

.row h1 {
	margin-bottom: 25px;
}

textarea:focus, input:focus{
    outline: 0;
}

.center-all {
	display:block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	margin: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.fake-background {
	height: 50%;
	width: 100%;
	background-color: #585594;
	position: absolute;
}


h3.go-to-next-section {
	border: 1px solid #373060;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	line-height: 55px;
	text-align: center;
	display: block;


}

h3.go-to-next-section a span {
	font-size: 30px;
	color: #373060;
	height: 48px;
	line-height: 48px;
}
h3.go-to-next-section a:hover {
	text-decoration: none;
}

/* NAVBAR */


#main-navbar {
	opacity: 0; 
	margin-top: -50px;
}

#main-menu {
	
}
#main-menu .item-text {
	display:none;
}

#main-menu .item-icon {
	display:block;
	background: transparent url(img/menu-sprite.png) no-repeat 0 0;
	width: 32px;
	height: 42px;
}

#main-menu .item-icon.about {
	background-position: 0 3px;
}
#main-menu .item-icon.work {
	background-position: 0 -53px;
}

#main-menu .item-icon.music {
	background-position: 0 -125px;
}

#main-menu .item-icon.contact {
	background-position: 0 -192px;
}

#heresmycv {
	font-size: 30px;
	text-transform: uppercase;
	color: #FFF3CC;
	-webkit-text-stroke: 0.0px;
	opacity: 1;
	line-height: 30px;
}

#heresmycv .section-name {
	font-size: 25px;
	color:#D8BF6E;
}

#heresmycv:hover{
	color: #FFF3CC;
}

#heresmycv .back-home, #heresmycv:hover span.logo {
	display:none;
}
#heresmycv:hover .back-home, #heresmycv span.logo {
	display:inline-block;
	min-width: 250px;
}

/* END NAVBAR */




/* HOME */

#home {
	position:relative;
}

#home .fake-background {
	top:0;
	left:0;
}

#home h1.main-title {
	color: #373060;
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
}


#home .go-to-next-section {
		margin-top: 80px;
}
/* END HOME */

/* ABOUT */

#about .row {
	position: relative;
}
.about-me {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
	height: 100%;
	color:#FFEBAA;
	font-size: 15px;
	padding: 0 20px 20px 0;
	/*word-wrap: break-word;
	word-break: break-all; */
}

.about-me > p{
	margin: 1px 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;

}

#about .fake-background.top {
	top:-30%;
	left:0;
}


#about .fake-background.bottom {
	bottom:-30%;
	left:0;
}

#about #about-table {
	background: #D8BF6E;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 65%;
	min-height: 300px;
	opacity: 1;
}
#about #about-pc {
	max-width: 391px;
	max-height: 291px;
	position: absolute;
	bottom: 22%;
	left: 48%;
	width: 50%;
	height: 50%;
	opacity: 1;
}

#about #about-keyboard{
	max-width: 219px;
	max-height: 47px;
	position: absolute;
	bottom: 23%;
	left: 30%;
	width: 50%;
	height: 50%;
	opacity: 1;
}
#about #about-dany {
	max-width: 293px;
	min-width: 146px;
	max-height: 493px;
	min-height: 246px;
	position: absolute;
	bottom: 15%;
	left: 20%;
	width: 50%;
	height: 50%;
	opacity: 1;
	overflow:hidden;
	background: url(img/about-dany.png) no-repeat 0 -493px;
}

#about #about-dany.front {
	background: url(img/about-dany.png) no-repeat 0 -3px;
}

#about #about-dany #eyes-closed {
	background: url(img/about-dany.png) no-repeat 0 -1001px;
	height: 40px;
	position: absolute;
	width: 100%;
	top: 136px;
	left: 5px;
	opacity:1;
}
#about #about-dany #eyes-closed.hide {
	opacity: 1;
}

#about .go-to-next-section {
	margin-top: 0px;
	bottom: -10%;
	top: auto;
	opacity: 0;
}


/* END ABOUT */
/* WORK */
#work {
	overflow-x: hidden;
	background: #008080;
}

.work-content {
	height: 100%;
	width: 100%;
	position:absolute;
	top: 72px;
	left: 0;
}
#desktop {
	width: 100%;
	height: 100%;
	position: relative;
}

.desktop-icon {
	width: 70px;
	height: 90px;
	background: url(img/desktop-icons.png) no-repeat 0 0;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.desktop-icon.ico-terminal {}
.desktop-icon.ico-front {background-position: 0px -90px; top:100px;}
.desktop-icon.ico-timeline {background-position: 0px -180px; top:200px;}


#taskbar {
	position:absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	z-index:150;
}

.window {
	background: #707070;
	border: 4px solid #c5c5c5;
	position:relative;
	overflow:hidden;
    z-index: 99;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}

.window.closed {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10%;
	min-width: 50px;
	height: 40px;

}

.window .win-title {
	line-height: 22px;
	font-size: 15px;
	color: #FFFAE8;
	float:left;
	font-family: arial;
	letter-spacing: 1px;
}
.window.closed .win-title, .window.minimized .win-title {
	display: none;
}
.window .title-bar {
	background: #000084;
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding: 4px;
	cursor: move;
}
.window .title-bar > div {
	width: 22px;
	height: 22px;
	background: #c5c5c5;
	float: right;
	margin-right: 5px;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	color: #202020;
	border-right: 2px solid rgba(63, 63, 63, 0.63);
	border-bottom: 2px solid #A8A8A8;
	border-top: 2px solid #B6B6B6;
	border-left: 2px solid #b6b6b6; 
}
.win-min-button {
	display: none;
}
.window.minimized .win-min-button {
	content: "+";
}
.window.front {
	z-index: 100;
}

#photoshop {
	position:absolute;	
	top:5%;
	left:10%;
	width: 70%;
	height: 80%;
}



#photoshop.closed, #command-line.closed, #timeline.closed{
	width: 10%;
	height: 40px;
	bottom: 0;
	top:initial;
	opacity: 0;
}

#photoshop.minimized, #command-line.minimized {
	width: 10%;
	height: 40px;
	bottom: 0;
	top:initial;
}

#photoshop-toolbar {
	width: 100%;
	background:#c5c5c5;
	color: #202020;
	height: 26px;
	line-height: 20px;
}

#photoshop-toolbar ul {
	margin: 2px;
	height: 20px;
}
#photoshop-toolbar ul li {
	padding: 0px 10px;
	border-right: 1px solid #202020;
	font-size: 12px;
	cursor: pointer;
}

#photoshop-toolbar ul li:last-child {
	border: 0px;
}


#frontend-document {
	background: white;
	position: absolute;
	top: 80px;
	left: 2%;
	width: 50%;
	height: 80%;
	min-width: 500px;
}

#frontend-document .skills {
	position: absolute;
	top: 50%;
	left:50%;
	min-width:450px;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

}



#frontend-document .skills li {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}

#photoshop-layers ul li.disabled {
	color: #888;
}

#frontend-document .skills .score {
	display:inline-block;
	width: 200px;
	height: 25px;
	
	margin-right: 10px;
	color: #FFF;
	font-size: 18px;
	line-height: 18px;
	text-align: right;
	border: 1px solid #FF0000;
}

#frontend-document .skills li.hide {
	opacity: 0;
}
#frontend-document .score > span {
	background: #FF0000;
	display: block;
	float:right;
}
#frontend-document .score .width-70 {
	width: 70%;
	height: 100%;
}
#frontend-document .score .width-80 {
	width: 80%;
	height: 100%;
}
#frontend-document .score .width-65 {
	width: 65%;
	height: 100%;
}
#frontend-document .score .width-60 {
	width: 60%;
	height: 100%;
}

#photoshop-layers {
	width: 250px;
	position: absolute;
	top: 15%;
	right: 5%;
	background: #c5c5c5;
	border-radius: 4px;
	padding: 5px 0;
}

#photoshop-layers p {
	padding: 5px;
	border-bottom: 3px double black;
}
#photoshop-layers p .glyphicon{
	margin-right: 5px;
}
#photoshop-layers ul {
	width: 95%;
	margin: 0 auto;
}
#photoshop-layers ul li {
	border-top: 1px solid black;
	font-size: 12px;
	margin-top: 5px;
}

#photoshop-layers ul li.disabled {
	color: #888;
}

#photoshop-layers ul li span{
	padding: 10px;
}

#photoshop-layers ul li .glyphicon {
	min-width: 20px;
	border-right: 1px solid #202020;
	margin-right: 5px;
	cursor: pointer;
}

#photoshop.minimized #frontend-document, #photoshop.minimized #photoshop-layers {
	opacity: 0;
}


/* COMMAND LINE */

#command-line {
	position:absolute;	
	top:10%;
	left:15%;
	width: 85%;
	height: 80%;
	background: #000;
	color: #e7e7e7;
	font-size: 15px;
}

#command-line .ui-resizable-handle {
	background-image: url(css/ui/images/ui-icons_FFFFFF_256x240.png);
}

#command-line .shell {

	white-space:pre;
	font-size: 15px;
	line-height: 15px;
}
.shell input {
	border: 0px;
	background: #000;
	width: 90%;
}
.shell .green {
	color: #00ff00;
}
.shell .red {
	color: #FF0000;
}
.shell .ylw {
	color: #f3e500;
}

#cmd-result.hid {
	display:none;
}

#command-line #cmd-result .score {
	width: 60%;
	display: inline-block;
	height: 15px;
	background: url("img/percent-shell.png") repeat-x 0 0 ;
}
#command-line #cmd-result .score .percent {
	background: url("img/percent-shell.png") repeat-x 0 -25px ;
	height: 15px;
	display:inline-block;
}
#cmd-result.hidden .score .percent {
	width: 0%;
}


#cmd-result .skills {
	margin: 0px;
}

#timeline {
	position:absolute;	
	top:10%;
	left:10%;
	width: 70%;
	height: 75%;
	background: #FFF;
	color: #202020;
	font-size: 15px;
	
}

#timeline #viewport {
	overflow-y: scroll;
	height: 99%;
	margin-bottom: 40px;
}

#vp-wrapper , .vp-header-wrapper {
	width: 80%;
	min-width: 700px;
	margin: 0 auto;
}

#vp-header {
	background: #106d04;
	color: white;
	padding: 5px;
}

#vp-header .vp-logo {
	/*text-transform: uppercase; */
	width: 20%;
	display:inline-block;
	text-align: center;
}

#vp-header #eb-search {
	border-radius: 4px;
	border: 0px;
	width: 60%;
	display: inline-block;
}

#vp-aside {
	padding: 5px;
	width: 20%;
	float:left;
	border-right: 1px solid #afafaf;
	height: 100%;
	position: relative;
}
#vp-profile {
	margin: 5px auto;
	width: 90%;
	min-width: 100px;
	font-size: 10px;
	font-family:verdana;
	color: #6f6f6f;

}

#vp-profile-pic {
	height: 100px;
	width: 100px;
	overflow:hidden;
	margin: 0 auto 10px;
}

#vp-timeline-list {
	font-size: 18px;
	position: absolute;
	top: 170px;
}
#vp-timeline-list li a {
	cursor: pointer;
}

#vp-main {
	width: 79%;
	min-width:450px;
	float:left;
	padding-bottom: 30px;
}

#vp-main .xperience {
	padding: 5px;
	border-bottom: 1px solid #afafaf;
	font-size: 15px;
	color: #6f6f6f;
	font-family: verdana;
}

#vp-main .xperience .company-logo {
	width: 70px;
	height: 70px;
	float:left;
	margin-left: 10px;
}
#vp-main .xperience .company-data {
	float:left;
	width: 400px;
	padding-left: 5px;
}
#vp-main .xperience .company {
	color: #106d04;
	font-weight: bold;
	font-size: 20px;
}
#vp-main .xperience .date, #vp-main .xperience .role, #vp-main .xperience .sector, #vp-main .xperience .projects {
	font-size: 12px;
}

#vp-main .xperience .sector  {
	font-weight: bold;
}
#vp-main .xperience .date {
	font-style: italic;
}

#vp-main .xperience .projects {
	clear:both;
	padding: 5px;
}
#vp-main .xperience .projects .partners {
	font-style: italic;
}

.shadowed {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}



/* END WORK */

/* CONTACT */
.contact-me {
	min-width: 350px;
	width: 50%;
	padding: 10px;
	border: 4px solid #585594; 
	border-radius: 10px;
}
.contact-me #contact-me {
	width: 100%;
	margin: 0 auto;
}
.contact-me #contact-me > div {
	width:80%;
	margin: 20px auto;
}
.contact-me #contact-me input, .contact-me #contact-me textarea  {
	border: 0;
	padding: 10px;
	width: 100%;
	border-bottom:1px solid #585594;
	display:block;
	resize: none;
	color: #EFCFB2;
	background: #827FB2;
}
.contact-me #contact-me #send-mail {
	float:right;
	width: auto;
	border: 1px solid #585594;
	border-radius: 3px;

}

.contact-me #contact-me input.error, .contact-me #contact-me textarea.error {
	background: #FFABAB;
	color: #000;
}

#contact-me textarea {
	min-height: 150px;
}

#contact-me-thank {
	display:none;
	color: #FFF3CC;
	font-size: 18px;
}
/* END CONTACT */


@media (min-width: 768px) {
	#main-menu .goto {padding:10px;}
	
}

@media screen and (max-width: 767px) {
	#main-menu {
		/* opacity:1; */
	}

	.navbar .icon-bar {
		background-color: #000;
	}

	

}

@media screen and (max-width: 910px)  {
	#about #about-keyboard {
		left: 22%;
	}

	#about #about-dany {
		left: 12%;
	}
}

@media screen and (min-height: 800px) {
	#about #about-dany {
		bottom: 7%;
	}
}













