 <div class="container-fluid slider-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="section-title">#work</h2>
                            <div class="slider-container">
                                <ul class="sl">
                                    <li class="slide">
                                        <div class="slide-content">
                                            <div class="working-skills">
                                                <h3>Front-end Dev</h3>
                                                <ul class=" unstyled">
                                                    <li><span class="skill">html5</span> <span class="rate" data-score="70"/></li>
                                                    <li><span class="skill">CSS3 / Media queries</span> <span class="rate" data-score="70"/></li> 
                                                    <li><span class="skill">Javascript</span> <span class="rate" data-score="90"/></li>
                                                    <li><span class="skill">jQuery</span> <span class="rate" data-score="90"/></li>
                                                    <li><span class="skill">Bootstrap / TweenMax</span>  <span class="rate" data-score="60"/></li>
                                                </ul>
                                            </div>
                                            <div class="working-skills">
                                                <h3>Back-end Dev</h3>
                                                <ul class="unstyled">
                                                    <li><span class="skill">Php</span> <span class="rate" data-score="100"/></li> 
                                                    <li><span class="skill">Zend Framework 1</span><span class="rate" data-score="80"/></li>
                                                    <li><span class="skill">Propel Orm</span> <span class="rate" data-score="100"/></li>
                                                    <li><span class="skill">MySql</span> <span class="rate" data-score="100"/></li>
                                                    <li><span class="skill">Phpunit</span> <span class="rate" data-score="100"/></li>
                                                </ul>
                                            </div>
                                            <div class="working-skills">
                                                <h3>Platform</h3> 
                                                <ul class="unstyled">   
                                                    <li><span class="skill">Magento</span><span class="rate" data-score="70"/></li>
                                                    <li><span class="skill">Wordpress</span><span class="rate" data-score="80"/></li> 
                                                    <li><span class="skill">Drupal</span><span class="rate" data-score="50"/></li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="working-skills">
                                                <h3>Dev and design Tools</h3>
                                                <ul class="unstyled">
                                                    <li><span class="skill">Linux Bash</span><span class="rate" data-score="80"/></li>
                                                    <li><span class="skill">Git</span><span class="rate" data-score="90"/></li> 
                                                    <li><span class="skill">Svn</span><span class="rate" data-score="80"/></li>
                                                    <li><span class="skill">Photoshop</span><span class="rate" data-score="75"/></li>
                                                </ul>
                                            </div>
                                            <br class="clear"/>
                                        </div>
                                    </li>
                                    <li class="slide" data-after="lellone">
                                        <div class="slide-content" >
                                            <div class="working-activity" id="working-timeline">
                                                <h2 class="ubuntu">Timeline</h2>
                                                <div class="xperience">
                                                    <div class="date">3/2014 - 8/2014</div>
                                                    <div class="company">Triboo Media</div>
                                                    <div class="role">Senior PHP Web Developer</div>
                                                    <div class="sector">News, Media, Advertising</div>
                                                </div>

                                                <div class="xperience">
                                                    <div class="date">9/2013 - 3/2014</div>
                                                    <div class="company">JWT</div>
                                                    <div class="role">Senior PHP Web Developer</div>
                                                    <div class="sector">New Media and Internet Services, Advertising</div>
                                                </div>

                                                <div class="xperience">
                                                    <div class="date">3/2010 - 9/2013</div>
                                                    <div class="company">Triboo Digitale</div>
                                                    <div class="role">Senior PHP Backend Developer and Frontend Team Leader</div>
                                                    <div class="sector">E-commerce service solution</div>
                                                </div>

                                                <div class="xperience">
                                                    <div class="date">11/2008 - 2/2010</div>
                                                    <div class="company">Nurun Italia s.r.l, Milan (Italy)</div>
                                                    <div class="role">Senior Web Developer and Software Engineer</div>
                                                    <div class="sector">Web Agency</div>
                                                </div>

                                                <div class="xperience">
                                                    <div class="date">11/2003 - 11/2008</div>
                                                    <div class="company">CTU - Università degli studi di Milano</div>
                                                    <div class="role">Web Developer, System Administrator, Multimedia Developer</div>
                                                    <div class="sector">Education, Distance Learning</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>